@use 'variables';

.info {
    .title--large {
        margin-bottom: 40px;
        text-align: center;
    }

    &__slide {
        display: flex;
        justify-content: space-between;

        &__container {
            width: 49%;

            .title {
                text-align: center;
                padding-bottom: 16px;
            }
    
            .text {
                padding: 8px 0;
            }
    
            img {
                margin: auto 40px;
                width: 80px;
            }
        }
    }
}