@use 'variables';

.main {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .button--container {
        font-size: 14px;
    }

    .choices {
        &__item {
            // margin-bottom: 24px;

            &__header {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 10px 16px;
                border: 1px solid variables.$mainTextColor;
                border-radius: 4px;
                transition: all .3s ease 0s;

                // &:hover { 
                //     object-fit: contain;
                //     background-image: url(../../dist/images/button-background.jpg);
                //     border: 1px solid transparent;
                //     cursor: pointer;
                // }

                .title--small {
                    margin-left: 5px;
                }
            }

            &__container {
                padding: 12px;

                .telegram-register {
                    // display: none; // ---------------------------------------------------------------
                    margin: 5px auto;
                    max-width: 320px;
                    text-align: center;

                    .text--small {
                        margin: 28px 0 40px;
                    }

                    .profile {
                        border-radius: 4px;
                        margin: 18px 0;
                        max-width: 140px;
                    }

                    .d-flex {
                        justify-content: center;
                        align-items: center;

                        .code {
                            font-size: 24px;
                            letter-spacing: 1px;
                        }

                        .copy-icon {
                            margin-left: 8px;
                            height: 24px;
                            width: 24px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .schedule {
                    // display: none; // ---------------------------------------------------------------------

                    .text--small{
                        margin-bottom: 16px;
                    }

                    .hours-balance {
                        &__hours {
                            font-weight: bold;
                            color: #eb3b5a;
                        }
                    }

                    &__week-options {
                        padding: 16px 0;

                        &__form {
                            display: flex;

                            &__week-day {
                                display: flex;
                                align-items: center;
                                margin-right: 10px;

                                &:hover {
                                    cursor: pointer;
                                }

                                .checkbox {
                                    display: block;
                                    padding: 4px;
                                    margin-right: 3px;
                                    margin-bottom: 2px;
                                    border: 1px solid variables.$mainTextColor;
                                    border-radius: 1px;

                                    &--checked {
                                        background-color: variables.$mainTextColor;
                                        // background-image: url(../../dist/images/button-background.jpg);
                                    }
                                }
                            }
                        }
                    }

                    &__activities {
                        padding: 16px 0;

                        &__buttons {
                            display: flex;
                            flex-wrap: wrap;

                            .activities {
                                &--input {
                                    display: block;
                                    line-height: 14px;
                                    font-size: 14px;
                                    height: 18px;
                                    width: 100%;
                                    background-color: variables.$backgroundColor;
                                    text-transform: uppercase;
                                }

                                &--color {
                                    padding: 4px;
                                    border: 1px solid variables.$mainTextColor;
                                    border-radius: 1px;
                                    margin-bottom: 3px;
                                    margin-right: 5px;

                                    &--free-time {
                                        background-color: #20bf6b;
                                    }

                                    &--other-activity {
                                        background-color: #040714;
                                    }

                                    &--yellow {
                                        background-color: #f7b731;
                                    }

                                    &--aqua {
                                        background-color: #0fb9b1;
                                    }

                                    &--orange {
                                        background-color: #fa8231;
                                    }

                                    &--red {
                                        background-color: #eb3b5a;
                                    }

                                    &--dark-blue {
                                        background-color: #3867d6;
                                    }

                                    &--light-blue {
                                        background-color: #2d98da;
                                    }
                                    
                                    &--purple {
                                        background-color: #8854d0;
                                    }

                                    &--dark-gray {
                                        background-color: #4b6584;
                                    }
                                }

                                &--button {
                                    padding: 5px 8px 3px;
                                    margin-right: 8px;
                                    min-width: 140px;
                                    border-bottom: 1px solid variables.$mainTextColor;
                                    border-radius: 0px;
                                }

                                &--default {
                                    color: variables.$mainTextColor;
                                }

                                &--is-selected {
                                    border: 1px solid variables.$mainTextColor;
                                    border-radius: 3px;
                                }
                            }

                            &__item {
                                display: flex;
                                align-items: center;
                                padding: 4px 8px;
                                margin: 10px 0;
                                border-radius: 4px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
    
                            img {
                                width: 16px;
                                margin-bottom: 2px;
                                margin-right: 3px;
                            }
                        }
                    }

                    &__table {
                        padding: 16px 0;
                        
                        .title--mini {
                            margin-bottom: 10px;
                        }

                        &__container {
                            display: flex;
                            flex-wrap: wrap;
                        }

                        &__week-days {
                            width: 100px;
                            margin-right: 20px;
                            margin-bottom: 20px;

                            &__row {
                                display: flex;
                                min-width: 100%;

                                &:hover {
                                    cursor: pointer;
                                }
                                
                                .table__hours {
                                    width: 35%;
                                    text-align: center;
                                    line-height: 14px;
                                    padding: 3px 4px 1px 0;
                                    margin-bottom: 0;
                                    border-right: 1px solid variables.$mainTextColor;
                                }

                                .table__colors {
                                    width: 65%;
                                    text-align: center;
                                    padding: 2px 2px 1px;
                                    margin: 0 0 4px 5px;
                                    font-size: 14px;
                                    line-height: 14px;
                                    color: variables.$secondaryTextColor;
                                    border: 1px solid transparent;
                                    border-radius: 3px;
                                    text-transform: uppercase;

                                    &--green {
                                        background-color: #20bf6b;
                                    }

                                    &--gray {
                                        border: 1px solid variables.$mainTextColor;
                                    }
                                }
                            }

                            .title--schedule-table {
                                margin-bottom: 4px;
                            }
                        }
                    }
                }

                .finance {
                    .finance-balance {
                        &__value {
                            font-weight: bold;
                            color: #eb3b5a;
                        }
                    }
                }
            }
        }
    }
}