$backgroundColor: #040714;
$mainTextColor: #c0c0c0;
$secondaryTextColor: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063e5;
$tildoPrimaryColor: #6421ff;
$tildoSecondaryColor: #0063e5;
