<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
</head>
<body>
    <header class="header">
        <img src="#/profile-menu.svg" alt="Profile simbol">
        <h1 class="title-larger">
            01/31/2024
        </h1>
        <a href="sign-in.html">
            Logout
        </a>
    </header>
    <section class="finace-months">
        <header class="finance-months__header">
            <div class="filter">
                <span class="text-small">
                    filter:
                </span>
                <select class="filter__date--start">
                    <option value="Jan">Jan</option>
                    <option value="Jan">Feb</option>
                    <option value="Jan">Mar</option>
                    <option value="Jan">Apr</option>
                </select>
                <select class="filter__date--end">
                    <option value="Jan">Jan</option>
                    <option value="Jan">Feb</option>
                    <option value="Jan">Mar</option>
                    <option value="Jan">Apr</option>
                </select>
            </div>
        </header>
        
    </section>
</body>
</html>