<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <h1 class="title-larger">
            Hello, username
        </h1>
        <a href="sign-in.html">
            Logout
        </a>
    </header>
    <section class="choices">
        <h2 class="title">
            How can we help you?
        </h2>
        <div class="choices">
            <div class="choices__item">
                <h3 class="title-small">
                    Schedule
                </h3>
                <img src="#perola-profile-photo" alt="Dog's photo">
                <h4 class="title-super-small">Pérola</h4>
                <p class="text">Schedule Agent</p>
                <p class="text-small">
                    Build your own schedule, get notifications at the time and keep a positive hours bank.
                </p>
            </div>
            <div class="choices__item">
                <h3 class="title-small">
                    Finances
                </h3>
                <img src="#lex-profile-photo" alt="Dog's photo">
                <h4 class="title-super-small">Lex</h4>
                <p class="text">Finances Agent</p>
                <p class="text-small">
                    Control your finances on an easy way. Just simple, without hard-work.
                </p>
            </div>
        </div>    
    </section>
</body>
</html>