<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <section class="password-atention">
        <h1 class="title">
            Atention 
        </h1>
        <img src="#/exclamation.svg" alt="Exclamation">
        <p class="text">
            This application is on tests and we don't use any criptograpy for password and usernames protection. So for your register we recomend to use a simbolic password that are not important for you.
        </p>
    </section>
    <section class="sign-up">
        <img src="#tildo-brand" alt="tildo brand">
        <h1 class="title">
            Sign-up
        </h1>
        <form class="sign-up__sign-form">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <input type="password" placeholder="password">
        </form>
        <p class="error-messsage">
            no user named 'brunoraniere' registed
        </p>
        <button class="sign-up__send-button">
            Send
        </button>
        <a href="#/sign-in">Sign-in</a>
    </section>
</body>
</html>